@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');
@import 'variables';
@import 'mixins';

@font-face {
    font-family: "Druk-Wide";
    src: url(../assets/fonts/Druk-Wide-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Lato",sans-serif;
}

html{
    scroll-behavior: smooth;
}

// footer 

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-blue;
    padding-top: 10vh;
}
footer{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    background:linear-gradient(180deg,$main-blue,$pink);
    width: 100%;
    > div{
        width: 85%;
    }
}

footer section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4vh;
}

footer article{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $blue;
    color: lightgrey;
    padding: 5vh 0;
    > p {
        padding: 2vh 4vh;
        color: $dark-blue;
    }
}

.links{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5vh;
}

.links img{
    width: 12vh;
    height: 12vh;
}

.href{
    display: flex;
    justify-content: space-between;
    li{
        list-style: none;
        color: $dark-blue;
        padding: 0.40rem;
    }
    a{
        text-decoration: none;
        color: $blue;
        &:hover{
            color:$dark-blue;
            transition: .4s;
        }
    }
    ul > li:first-child{
        font-weight: 700;
    }
}

.media{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    padding-top: 14vh;
    i{
        width: 8vh;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: $pink;
        background-color: $dark-blue;

        &:hover{
            background-color: $blue;
            transition: .5s;
        }
    }
    >a{
        text-decoration: none;
    }
}

.social{
    width: 28%;
}

.lang{
    display: flex;
    gap: 2vh;
    padding: 2vh 4vh;
    font-weight: 600;
    position: relative;
    color: $dark-blue;
    &:hover{
        background-color: $dark-blue;
        cursor: pointer;
        color: $pink;
    }
}

// Language selection - set js function
.list-lang{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: $dark-blue;
    bottom: 100%;
    width: 100%;
    left: 0;
    > li{
        padding: 1vh;
        font-weight: 600;
        list-style: none;
        &:hover{
            cursor: pointer;
            background-color: $main-blue;
        }
    }
}

.container{
    height: 100px;
}

.newsletter{
    display: flex;
    width: 85%;
    align-items: center;
    background-color:$dark-blue;
    border: 2px solid $blue;
    border-radius: 10px;
    justify-content: space-between;
    padding: 4vh 0;
    >form{
        padding: 2vh 5vh 2vh 0;
        display: flex;
        gap: 2vh;
    }
    >section{
        padding: 2vh 0 2vh 5vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
    h1{
        font-size: 2.3rem;
        background: linear-gradient(90deg,$pink
        ,rgb(183, 75, 101));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Druk-Wide",sans-serif;
    }
    p{
        color: $pink;
        font-size: 1.1rem;
    }
    input[type=submit]{
        color: #1B1919;
        background-color: gainsboro;
        padding: 2vh 3vh;
        font-weight: 600;
        border: 1px solid gainsboro;
        border-radius: 8px;
        font-size: 1rem;
        &:hover{
            background-color: $pink;
            cursor: pointer;
            transition: .4s;
        }
    }
    input[type=email]{
        width: 50vh;
        padding: 1vh 2vh;
        background-color: rgb(53, 53, 70);
        border: 2px solid grey;
        border-radius: 8px;
        color: whitesmoke;
    }
    ::placeholder{
        color: grey;
        font-weight: 600;
    }
}